<carousel>
  <slide>
    <img
      src="assets/images/carousel/slide1.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/carousel/slide2.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/carousel/slide3.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/carousel/slide4.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>
